<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bed Management</title>
  </head>
  <body>
    <% include ../partials/header.ejs %>


    <table>
      <tr>
        <th>Bed Number</th>
        <th>patient Type</th>
        <th>Patient Name</th>
        <th>Status</th>
        <th>Confinement Date</th>
        <th>Actions</th>
      </tr>

      <%for(var i=0; i < bedDetails.length; i++){%>
      <tralign="center">
        <td><%= bedDetails[i].bed_id%></td>
        <td><%= bedDetails[i].patient_type%></td>
        <td><%= bedDetails[i].name%></td>
        <td><%= bedDetails[i].status%></td>
        <%
        var DT = moment(bedDetails[i].allotment_timestamp).format('YYYY-MM-DD HH:mm:ss');
        console.log(DT);
        if(DT == 'Invalid date'){%>
          <td></td>
        <%} else {%>
          <td><%= DT%></td>
        <%}%>
        <form method="POST">
          <td><button onclick="discharge(<%= bedDetails[i].bed_id%>)">discharge</button></td>
          <input type="text" id="dis" name="bed" style="display:none;" >
        </form>
      </tr>
      <%}%>
    </table>
  </body>
</html>
<script>
  function discharge(bedID){
    console.log(bedID);
     document.getElementById('dis').value = bedID;
     console.log(document.getElementById('dis').value);
  }
</script>
