<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bed Management</title>
  </head>
  <body>
    <a href="../nurse/dashboard">dashboard</a><br>
    <a href="../nurse/bedManagement">bedManagement</a><br>
    <a href="../nurse/patientManagement">patientManagement</a><br>
    <a href="../nurse/profileManagement">profile</a>
    <br>
    <!-- ADMIT  -->
    <button type="button" onclick="ShowAdmit()">Allot</button>
    <div id="ShowAdmit" style="display:none;">
      <select name="bedPatient">
        <%for (var i = 0; i < availPatient.length; i++) { %>
          <form action="/nurse/bedManagement?name=<%= availPatient[i].name%>">
            <option value="<%= availPatient[i].patient_id%>"><%= availPatient[i].name%></option>
          </form>
        <%}%>
      </select>
      available Beds:
      <select name="bedNumber">
        <%for (var i = 0; i < availableBeds.length; i++) { %>
          <option value="<%= availableBeds[i].bed_id%>"><%= availableBeds[i].bed_id%></option>
        <%}%>
      </select>
      <button type="submit" name="sub" value="admit">alot</button>
    </div>

    <table>
      <tr>
        <th>Bed Number</th>
        <th>patient Type</th>
        <th>Patient Name</th>
        <th>Status</th>
        <th>Confinement Date</th>
        <th>Actions</th>
      </tr>

      <%for(var i=0; i < bedDetails.length; i++){%>
      <tralign="center">
        <td><%= bedDetails[i].bed_id%></td>
        <td><%= bedDetails[i].patient_type%></td>
        <td><%= bedDetails[i].name%></td>
        <td><%= bedDetails[i].status%></td>
        <%
        var DT = moment(bedDetails[i].allotment_timestamp).format('YYYY-MM-DD HH:mm:ss');
        if(DT == 'Invalid date'){%>
          <td></td>
        <%} else {%>
          <td><%= DT%></td>
        <%}%>
        <%if(bedDetails[i].name){%>
          <form action="/nurse/bedManagement?bed=<%= bedDetails[i].bed_id%>" method="POST">
            <td><button>discharge</button></td>
          </form>
        <%}%>
      </tr>
      <%}%>
    </table>
  </body>
</html>
<script>
function ShowAdmit(){
  document.getElementById('ShowAdmit').style.display = 'block';
}
  function discharge(bedID){
    console.log(bedID);
     document.getElementById('dis').value = bedID;
     console.log(document.getElementById('dis').value);
  }
</script>
