<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nurse</title>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <h2>Hello I'm the <%= username[0].name %> !! <button><a href='../logout'>logout</a></button></h2>
    <h2>Total Registered Patients = <%= pCount[0].pCount%></h2>
    <h2>Currently Admitted = <%= admitted[0].admitted%></h2>
    <h2>ER COUNT = <%= er[0].er%></h2>
    <h2>OPD COUNT = <%= opd[0].opd%></h2>
    <h2>WARD COUNT = <%= ward[0].ward%></h2>
    <h1>Patient Chart</h1>
    <h2>patients = <%= pCount[0].pCount%></h2>
    <h2>cadet = <%= pChart[0].cadet%></h2>
    <h2>military officer = <%= pChart[0].military_officer%></h2>
    <h2>military dependent = <%= pChart[0].military_dependent%></h2>
    <h2>civilian = <%= pChart[0].civilian%></h2>
    <h2>authorized civilian <%= pChart[0].authorized_civilian%></h2>
    <br>
    <!-- FOR ADMIT -->
    <button onclick="showAdmit()">Admit patient</button>
    <form method="POST" id="modal" style="display:none;" onsubmit="showSuccess()">
      <select name="patient" required>
        <option selected value disabled>name</option>
        <%for(var i=0; i < p.length; i++){%>
          <option value="<%= p[i].patient_id%>"><%= p[i].name%></option>
        <%}%>
      </select>
      <select name="department" required>
        <option selected value disabled>department</option>
        <option value="ward">ward</option>
        <option value="ER">ER</option>
        <option value="OPD">OPD</option>
      </select>
      <button type="submit" name="sub" value="admit">submit</button>
    </form>
    <!-- FOR ADDING -->
    <br>
    <button onclick="showAdd()">add patient</button>
    <form method='POST' id='modal2'  style="display:none;" onsubmit="showSuccess()">
      <input type="text" name="name" placeholder="eg:Juan M. Dela Cruz" required>enter name<br>
      <input type="text" name="rankSN" required>rank/serial number<br>
      <input type="text" name="unit" >unit<br>
      <input type="text" name="address" required>address<br>
      <input type="number" name="age" required>age<br>
      <input type="text" name="religion">religion<br>
      <input type="text" name="father">name of father
      <input type="text" name="fatherO">occupation <br>
      <input type="text" name="mother">name of mother
      <input type="text" name="motherO">occupation <br>
      <textarea name="allergies" rows="4" cols="40" placeholder="Allergies"></textarea> <br>
      <textarea name="bh" rows="4" cols="40" placeholder="Birth History"></textarea> <br>
      <select name="gender" required>
        <option disabled selected value>Gender</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select><br>
      <select name="type" required>
        <option disabled selected value>Patient Type</option>
        <option value="cadet">Cadet</option>
        <option value="military officer">Miltary Officer</option>
        <option value="military dependent">Miltary Dependent</option>
        <option value="civilian">Civilian</option>
        <option value="authorized civilian">Authorized Civilian</option>
      </select><br>
      <select name="status" required>
        <option selected value>Status</option>
        <option value="Maried">Maried</option>
        <option value="Single">Single</option>
      </select><br>
      <select name="blood">
        <option selected value="">blood type</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="AB">AB</option>
        <option value="O">O</option>
      </select><br>
      <input type="date" name="birth" required>birth date<br>
      <h3>Family History</h3>
      <select id="fhName">
        <option value="" selected></option>
        <%for(var i=1; i <fh.length; i++){%>
          <option value="<%= fh[i].name%>"><%= fh[i].name%></option>
        <%}%>
      </select>
      <button type="button"  onclick="fhResult()">add</button>
      <h5 style="opacity:0.7;" id="fhRes" name="family_history"></h5>
      <!-- To fetch the data from the list of Family Histo -->
      <input type="text" id="family_history" name="family_history" style="display:none;">
      <br>
      <h3>Immunization</h3>
      <select id="immuName" onchange="showDate()">
        <option value="" selected></option>
        <%for(var i=1; i <immu.length; i++){%>
          <option value="<%= immu[i].name%>"><%= immu[i].name%></option>
        <%}%>
      </select>
      <input type="month" id="immuDate" style="display:none;">
      <button type="button" id="addMore" style="display:none;" onclick="immuResult()">add</button>
      <h5 style="opacity:0.7;" id="immuRes"></h5>
      <!-- To fetch the data from the list of Immunization -->
      <input type="text" id="immunization" name="immunization" style="display:none;">
      <br>
      <button type="submit" name="sub" value="add">save</button>
      <button type="button" onclick="resetForm()">reset</button>
    </form>
    <!-- FOR BED Allotment -->
    <br>
    <button onclick="showBeds()">Bed Allotment</button>
    <form method="post" id="bed" style="display:none;">
      <select name="bedPatientName" required>
        <%for(var i=0; i < p.length; i++){%>
          <option value="<%= p[i].patient_id%>"><%= p[i].name%></option>
        <%}%>
      </select>
      <select name="bedView" required>
        <%for(var i=0; i < bed.length; i++){%>
          <option value="<%= bed[i].bed_id%>"><%= bed[i].bed_id%></option>
        <%}%>
      </select>
      <button type="button" name="button">save</button>
    </form>
  </body>
</html>
<script>
  function showAdmit() {
    document.getElementById("modal").style.display = "block";
  }
  function showAdd() {
    document.getElementById("modal2").style.display = "block";
  }
  function showBeds() {
    document.getElementById("bed").style.display = "block";
  }
 function showSuccess() {
    alert("Success !!");
  }
  function showDate() {
    document.getElementById("immuDate").style.display = "inline-block";
    document.getElementById("addMore").style.display = "inline-block";
  }
  function immuResult() {
    var e = document.getElementById("immuName");
    var immu = e.options[e.selectedIndex].value;
    var immuDate = document.getElementById("immuDate").value;
    document.getElementById("immuRes").innerHTML += immu + immuDate + "<br>";
    document.getElementById("immunization").value += immu +":"+ immuDate + ",";
  }
  function fhResult() {
    var e = document.getElementById("fhName");
    var fh = e.options[e.selectedIndex].value;
    document.getElementById("fhRes").innerHTML += fh + "<br>";
    document.getElementById("family_history").value += fh + ",";
  }
  function resetForm() {
    document.getElementById("modal2").reset();
    document.getElementById("immuRes").innerHTML = "";
  }
</script>
